.buttonCode{
    background-color: white;
    color: green;
    border: 2px solid #4CAF50;
    margin-right: 10px;
    border-radius: 5px;

}

.buttonLive{
    background-color: white;
    color: Red;
    border: 2px solid #af4c4c;
    border-radius: 5px;

}

