/* nav.navbar.navbar-default {
  margin-bottom: 0;
  

} */


/* .navbar{

  font-size:  40px;

} */


.colNav{
  padding: 0 !important
}

.stretchNav{
  width: 100%;
}

.nav-link {
  font-size: 30px;
  margin-left: 40px;
}

.navbar-brand{
  margin-left: 40px;
  font-size: 30px  !important;
}

.nav-brand:hover{
  transform: scale(1.1);
  transition-duration: 0.4s;
  

}

.nav-link:hover{
  transform: scale(1.1);
  transition-duration: 0.4s;
}


@media only screen and (max-width: 900px){
  .colNav{
    padding: 0 !important
  }
  

  .stretchNav{
    width: 100%;
  }

  .nav-link {
    font-size: 20px;
  }
  .navbar-brand{
    font-size: 20px  !important;
  }
}

@media only screen and (max-width: 800px){
  .colNav{
    padding: 0 !important
  }
  

  .stretchNav{
    width: 100%;
  }

  .nav-link {
    font-size: 15px;
  }
  .navbar-brand{
    font-size: 15px  !important;
  }
}

@media only screen and (max-width: 600px){
  .colNav{
    padding: 0 !important
  }
  

  .stretchNav{
    width: 100%;
  }

  .nav-link {
    font-size: 15px;
  }
  .navbar-brand{
    font-size: 15px  !important;
  }
}