/* nav.navbar.navbar-default {
  margin-bottom: 0;
  

} */


/* .navbar{

  font-size:  40px;

} */


.stretchNav{
  width: 101%;
}

.nav-link {
  font-size: 30px;
  margin-left: 40px;
}

.navbar-brand{
  font-size: 30px  !important;
}

.nav-brand:hover{
  transform: scale(1.1);
  transition-duration: 0.4s;
  

}

.nav-link:hover{
  transform: scale(1.1);
  transition-duration: 0.4s;
}


@media only screen and (max-width: 800px){

  .nav-link {
    font-size: 10px;
  }
  .navbar-brand{
    font-size: 10px  !important;
  }
}