/* nav.navbar.navbar-default {
  margin-bottom: 0;
  

} */


/* .navbar{

  font-size:  40px;

} */



.nav-link {
  font-size: 40px;
  margin-left: 40px;
}

.navbar-brand{
  font-size: 40px  !important;
}

.nav-brand:hover{
  transform: scale(1.1);
  transition-duration: 0.4s;
  

}

.nav-link:hover{
  transform: scale(1.1);
  transition-duration: 0.4s;
}



