.iconSpace,.footicon{
margin-left: 5px;
}

.footicon:hover{

  background-color: white; 
  border-radius: 50%;
  border: 3px solid white;
  transition-duration: 0.4s;
  transform: scale(1.2);
}

.footicon1:hover{

  background-color: black; 
  border-radius: 50%;
  border: 3px solid white;
  transition-duration: 0.4s;
  transform: scale(1.2);
}



/* .footer {
  position: relative;
} */


.footer  {
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 3px;
  text-align: center;
  align-items: center;
  justify-content: center;
  color: white;
}

